name: Build wheels
on:
    push:
        branches:
            - master
            - dev
        tags:
            - v*

env:
    CIBW_SKIP: cp2* pp* cp35* cp36* cp37*

jobs:
    build_wheels:
        name: Build wheels on ${{ matrix.os }}
        runs-on: ${{ matrix.os }}
        strategy:
            matrix:
                os: [ubuntu-20.04, windows-2019, macos-12, macos-latest]
        steps:
            - uses: actions/checkout@v2

            - name: Set up Python
              uses: actions/setup-python@v2
              with:
                  python-version: '3.9'

            - name: Build wheels
              uses: joerick/cibuildwheel@v1.10.0

            - name: Upload wheels
              uses: actions/upload-artifact@v2
              with:
                  path: ./wheelhouse/*.whl

    build_sdist:
        name: Build source distribution
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2

            - name: Install Python
              uses: actions/setup-python@v2
              with:
                  python-version: '3.8'
            
            - name: Install afterglowpy
              run: pip install .

            - name: Build sdist
              run: python setup.py sdist

            - name: Upload sdist
              uses: actions/upload-artifact@v2
              with:
                  path: dist/*.tar.gz

    upload_pypi:
        needs: [build_wheels, build_sdist]
        runs-on: ubuntu-latest

        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')

        steps:
            - uses: actions/download-artifact@v2
              with:
                  name: artifact
                  path: dist

            - uses: pypa/gh-action-pypi-publish@release/v1
              with:
                  user: __token__
                  password: ${{ secrets.PYPI_API_TOKEN }}

